<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link href="{{ asset('web/styles/activate.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    <meta charset="utf-8">
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone/babel.js"></script>

    <title>S COUT</title>
</head>
<body>


<div class="row">

    <div class="block">
        <img src="{{ asset('web/images/logom.png') }}">
        <h3>Hej {{ name }}, pomyślnie aktywowałeś swoje konto!</h3>
        <form action="{{ path('login_email') }}" method="post"  >
            <input type="hidden" name="username"
                   value="{{ name }}">
            <input type="submit" id="button-log" value="Przejdź do serwisu"><br>
        </form>

    </div>


</div>


</body>
</html>