{% extends 'main/parent.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('web/styles/messages.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
{% endblock %}



{% block body %}



    
    {% for username in usernames %}
        <div class="comment">
            <a href=" {{ path('user_profile', {'username': username}) }}"> <img id="comment-avatar-left"
                    src="data:image/jpeg;base64,{{ photo_data_provider.getPhotoByUsername(username) }} "
                      width="70" height="70"></a>

            
            <p class="project-title"
               href=" ">{{ username }}</p>
            ✽ Data

            

            <p class="comment-content">Siema kotku :3</p>
           
            <button class="button"> Przejdź do konwersacji </button>
            
        </div>
    {% endfor %}

    
    {% for request in requests %}
    <div class="comment">
        <a href=" {{ path('user_profile', {'username': request.user.username}) }}"> <img id="comment-avatar-left"
                                                                            src="data:image/jpeg;base64,{{ photo_data_provider.getPhotoByUsername(request.user.username) }} "
                                                                            width="70" height="70"></a>

            
            <a class="project-title"
               href="  {{ path('user_profile', {'username': request.user.username}) }}">{{ request.user.username }}</a> prosi o dodanie do <a class="project-title"
               href="  {{ path('project_profile', {'projectId': request.project.projectId}) }}">{{ request.project.title }}</a>
            ✽ {{ request.timestamp.format('Y-m-d H:i:s') }}

            

            <p class="request-content">dodaj mnie plox</p>
           
            <button class="button" style="Background-color: darkred;"> Odrzuć </button>
           <button class="button" style="background-color: darkgreen;"> Zaakceptuj </button>
            
        </div>
    {% endfor %}

    <script>
        $(document).ready(function () { });


    </script>



{% endblock %}