{% extends 'main/parent.html.twig' %}
    {% block stylesheets %}
        <link href="{{ asset('web/styles/edit-user.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>

        <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>

    {% endblock %}
{% block body %}

<input id="UserID" value="{{ user.userId }}" type="hidden">
    {# modal request technologii #}
    <form  name="ReqForm" onsubmit="return validateformReq()" action="{{ path('create_request_for_technology') }}" method="post">
        <div id="modal-req" class="modal">
            <div class="modal-content">

                <p style="margin-left: 2%;">Czy chcesz wysłać prośbę o dodanie nowej technologii?</p>
                <br>
                <input id="reqTitle" name="name" value="" placeholder="Nazwa" class="name" style="border-radius: 5px; margin-bottom: 2%; margin-top: 2%;">
                <input type="hidden" name="destination" value="user_profile">
                <textarea id="reqtxt" name="reason" class="form-control"
                          placeholder="Napisz co to za technologia i dołącz linki do źródła." rows="5" cols="25"></textarea>
                <div class="buttons" style="height: 40px;">
                    <button class="cancel-btn button">Anuluj</button>

                    <input type="submit" id="send-btn" class="button" value="Wyślij zgłoszenie">

                </div>

            </div>
        </div>
    </form>


    <div class="edit-profile">
    <h1>Edytuj swój profil:</h1>
    <div class="edit-container">
        <form name="Form1" onsubmit="return validateform1()" action="{{ path('edit_basic_profile_info',  {'username' : user.username} ) }}" method="post">
            <input type="text" class="name" placeholder="Imię" name="firstname" maxlength="50"
                   value={{ user.firstname }}>

            <input type="text" class="name" placeholder="Nazwisko" name="lastname" maxlength="50"
                   value={{ user.lastname }}><br>

            <div style="text-align: left; margin-left:9%; margin-top: 1%; margin-bottom:1%;">
                <label>Data urodzenia:</label> <br>
                <input type="date" {% if user.dateOfBirth is not null %}
                       value={{ user.dateOfBirth.format('Y-m-d') }}
                   {% endif %} name="bdaytime" style="border: 1px solid #7DA2AA;">

            </div>

            <input type="text" class="bio" placeholder="Info" name="info" maxlength="250" value="{{ user.info }}"/><br>
            <label>
                <input type="checkbox" name="newsletter" {% if user.newsletterOn %}checked {% endif %}>Chcę otrzymywać newslettera.
            </label><br>

            <br>

            <input type="submit" value="Zapisz zmiany" name="submit" class="upload smaller"/>
        </form>
        <hr>
    <form action="{{ path('save_cities_for_user') }}" method="post">
    <div id="cities-forms" class="forms">
        <input type="CityList" class="bio city down" placeholder="Miasto" maxlength="50" name="cities[]" id="city" list="CityList">
        <datalist id="CityList">

        </datalist>
        <button type="button" id="button-moreC" class="button-more btad">+</button>
        <br>
    </div>
        <input type="submit" value="Zapisz miasta" name="submit" id="add-city" class="upload smaller"/>
    </form>

        <div id="cities"></div>



        <hr>
    <form action="{{ path('save_languages_for_user') }}" method="post">
        <div id="languages-forms" class="forms">
            <input type="LangList" class="bio lang" placeholder="Język" maxlength="50" id="lang" name="languages[]" list="LangList">
            <datalist id="LangList">
            </datalist>
            <button type="button" id="button-more" class="button-more btad">+</button>
            <br>
        </div>
        <input type="submit" value="Zapisz języki" name="submit" id="add-lang" class="upload smaller"/>
    </form>

        <div id="languages"></div>


        <hr>

        <div class="TechReq">
            <h4>Nie widzisz swojej technologii? </h4> <button id="ReqButton" class="button">Zgłoś ją!</button>
        </div>
        <form action="{{ path('save_technologies_for_user') }}" method="post">
        <div id="tech-forms" class="forms">
            <input type="TechList" class="bio tech" id="tech" placeholder="Technologie" maxlength="50" name="technologies[]" list="TechList">
            <datalist id="TechList">

            </datalist>
            <button type="button" id="button-moret" class="button-moret btad">+</button>
            <br>
        </div>
        <input type="submit" value="Zapisz technologie" name="submit" id="add-tech" class="upload smaller"/>
        <div id="Technologies"></div>
        </form>


        <hr>

        <div id="photo">

            <img id="photo-edit" src="data:image/jpeg;base64,{{ photo_data_provider.getPhotoByUsername(user.username) }}" width="120" height="120">

            <form name="Form2" onsubmit="return validateform2()" action="{{ path('edit_user_photo',  {'username' : user.username} ) }}" enctype="multipart/form-data"
                  method="post">
                <br>
                Wybierz zdjęcie: <br> <br>

                <input type="file" name="fileToUpload" accept="image/jpeg, image/png" id="fileToUpload"
                       style="background-color: none;"/> <br><br><br>

                <input type="submit" value="Wrzuć fotę" name="submit" id="upload" class="upload"/>

            </form>
        </div>
    </div>


    <script src="{{ asset('web/scripts/edit-profile.js') }}"></script>

    <script>


        ///////////////////////
        /*
           $(document).ready(function(){

               var technologies = []; ///powinna byc pobierana
               var languages = [];

           $('#add-tech').click(function() {

                var technology = $('#tech').val()
                technologies.push(technology);

              $('#Technologies').html('<p>' + technologies + ' </p>');
               document. getElementById('tech').value ="";

            } );

           $('#add-lang').click(function() {

                var language = $('#lang').val()
                languages.push(language);

              $('#languages').html('<p>' + languages + ' </p>');
               document. getElementById('lang').value ="";

            } );



           });

            */

        ////validateform

        function validateform1(){
            var firstname=document.Form1.firstname.value;
            var lastname=document.Form1.lastname.value;



            if (firstname==null || firstname==""){
                //console.log(reason);
                document.Form1.firstname.style.border = "0.5px solid red";
                return false;
            } else if (lastname==null || lastname==""){
                document.Form1.lastname.style.border = "0.5px solid red";
                return false;
            }

            else{  return true; }
        }

        ////validateform

        function validateform2(){
            var fileToUpload=document.Form2.fileToUpload.value;

             if (fileToUpload==null || fileToUpload==""){
                document.getElementById("photo-edit").style.border = "0.5px solid red";
                return false;
            }
            else{  return true; }
        }


        ////popup request
        $("#ReqButton").on("click", function () {

            event.preventDefault();
            //$('#modal-edit').hide();
            $('#modal-req').show();
        });


        $(".cancel-btn").on("click", function () {
            event.preventDefault();

            $('#reqtxt').val("");
            $('#reqTitle').val("");

            $('#modal-req').hide();

        });

        function validateformReq(){
            var Rtitle=document.ReqForm.reqTitle.value;
            var Rtxt=document.ReqForm.reqtxt.value;

            if (Rtitle==null || Rtitle==""){
                //console.log(reason);
                document.ReqForm.reqTitle.style.border = "0.5px solid red";
                return false;
            } else if (Rtxt==null || Rtxt==""){
                //console.log(reason);
                document.ReqForm.reqtxt.style.border = "0.5px solid red";
                return false;
            } else {  return true; }
        }

    </script>









{% endblock %}