{% extends 'main/parent.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('web/styles/messages.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
{% endblock %}



{% block body %}


    <div id="Chat-Content">

        <div id="chat-container">

            {% for message in messages %}
                {#Od kogoś #}
                {% if message.sender.username != app.user.username %}
                    <div class="I-message">
                        <a {% if username != 'admin' %}href="  {{ path('user_profile', {'username': message.sender.username}) }}"{% endif %}> <img
                                    id="comment-avatar-left"
                                    src="data:image/jpeg;base64,{{ photo_data_provider.getPhotoByUsername(message.sender.username) }}"


                                    width="70" height="70"></a>


                        <a class="project-title"
                {% if username != 'admin' %} href="{{ path('user_profile', {'username': message.sender.username}) }}"{% endif %}>
                {% if username != 'admin' %}{{ message.sender.username }}{% endif %}
                            {% if username == 'admin' %}SCOUT NEWSLETTER{% endif %}</a>
                        ✽ {{ message.timestamp.format('Y-m-d H:i:s') }}


                        <p class="message-content">{{ message.text }}</p>


                    </div>
                    {# #}
                {% endif %}
                {#Ode mnie #}
                {% if message.sender.username == app.user.username %}

                    <div class="YOU-message">
                        <a href="  {{ path('user_profile', {'username': message.sender.username}) }}"> <img
                                    id="comment-avatar-right"
                                    src="data:image/jpeg;base64,{{ photo_data_provider.getPhotoByUsername(message.sender.username) }}"

                                    width="70" height="70"></a>
                        <div id="cos">
                            <div class="title-right">
                                <a class="project-title"
                                   href="  {{ path('user_profile', {'username': message.sender.username}) }}">{{ message.sender.username }}</a>
                                ✽ {{ message.timestamp.format('Y-m-d H:i:s') }}
                            </div>
                        </div>

                        <p class="message-content youmessc">{{ message.text }}</p>


                    </div>
                {% endif %}

                {# #}
            {% endfor %}


        </div>
        {% if username != 'admin' %}
        <div class="form-post">

            <img id="post-avatar" src="data:image/jpeg;base64,{{ photo_data_provider.getPhotoByUsername(app.user.username) }}" width="70" height="70">
            <form name="postForm" onsubmit="return validateformPost()" action="{{ path('create_message') }}" enctype="multipart/form-data"
                  method="post">

                <div class="photo-textarea">
                    <textarea name="messageText" class="form-control" rows="5" cols="25"></textarea>

                    <input type="hidden" name="receiverId" value={{ receiverId }}>

                    <button style="display:none;" id="file-cancel"></button>


                    <input type="submit" id="button-rem" class="button-post" value="Wyślij"></div>
                <br>

            </form>
        </div>
        {% endif %}

    </div>
    <script>

        function validateformPost() {
            var content = document.postForm.text.value;

            if (content == null || content == "") {
                //console.log(reason);
                document.postForm.text.style.border = "0.5px solid red";
                return false;
            } else {
                return true;
            }
        }

        $(document).ready(function () {


            var element = document.getElementById("chat-container");
            element.scrollTop = element.scrollHeight - element.clientHeight;


        });


    </script>



{% endblock %}