{% extends 'main/parent.html.twig' %}
    {% block stylesheets %}
        <link href="{{ asset('web/styles/new-project.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>

        <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>

    {% endblock %}
{% block body %}

    {# modal request technologii #}
    <form  name="ReqForm" onsubmit="return validateformReq()" action="" method="post">
        <div id="modal-req" class="modal">
            <div class="modal-content">

                <p style="margin-left: 2%;">Czy chcesz wysłać prośbę o dodanie nowej technologii?</p>
                <br>
                <input id="reqTitle" name="reqTitle" value="" placeholder="Nazwa" class="name" style="border-radius: 5px; margin-bottom: 2%; margin-top: 2%;">

                <textarea id="reqtxt" name="ReqText" class="form-control"
                          placeholder="Napisz co to za technologia i dołącz linki do źródła." rows="5" cols="25"></textarea>
                <div class="buttons" style="height: 40px;">
                    <button class="cancel-btn button">Anuluj</button>

                    <input type="submit" id="send-btn" class="button" value="Wyślij zgłoszenie">

                </div>

            </div>
        </div>
    </form>

    <form name="postCreate" onsubmit="return validateformCreate()" action="{{ path('create_project') }}" enctype="multipart/form-data" method="post">
        <div class="edit-profile">
            <h1>Utwórz nowy projekt:</h1>
            <div class="edit-container">
                <div id="up">
                    <div id="photo">


                        <br>

                        <label for="image">
                            <input type="file" name="image" id="image" accept="image/jpeg, image/png"
                                   class="fileToUpload" style="display:none;"/>
                            <img id="photo-edit" src="{{ asset('web/images/upload_photo.jpg') }}" width="120"
                                 height="120">
                        </label>

                        <br><br><br>


                    </div>
                    <div class="name_div">
                        <input type="text" class="name" placeholder="Tytuł" name="title" maxlength="50"/>
                    </div>
                </div>
                <div class="info" style="text-align: left; margin-left:9%; margin-top: 1%; margin-bottom:1%;">
                    <p class="opis">Opis:</p>
                    <textarea name="text" class="bio" rows="10" cols="25"></textarea>
                    <input type="hidden" class="bio" placeholder="Opis" name="info" maxlength="250"/><br>
                    <br>
                </div>
                <hr>

                <div class="TechReq">
                    <h4>Nie widzisz swojej technologii? </h4> <button id="ReqButton" class="button">Zgłoś ją!</button>
                </div>

                <div id="tech-forms" class="forms">
                    <input type="text" class="bio tech" id="tech" placeholder="Technologie" maxlength="50"
                           name="technologies[]" list="TechList">
                    <datalist id="TechList">

                    </datalist>
                    <button type="button" id="button-moret" class="button-moret btad">+</button>
                    <br>
                </div>

                <input type="submit" value="Utwórz projekt" name="submit" id="add-tech" class="upload smaller"/>
                <div id="Technologies"></div>


            </div>
        </div>

    </form>
    <script>

        ////validateform

        function validateformCreate(){
            var title=document.postCreate.title.value;
            var image=document.postCreate.image.value;

                var isValid;
            $(".tech").each(function() {
                var element = $(this);
                if (element.val() == "") {
                    element.css("border","0.5px solid red");
                    isValid = false;
                }
            });


            if (title==null || title==""){
                //console.log(reason);
                document.postCreate.title.style.border = "0.5px solid red";
                return false;
            } else if (image==null || image==""){
                document.getElementById("photo-edit").style.border = "0.5px solid red";
                return false;
            }
            else if(isValid==false){console.log("tech!!!1");return false;}
            else{  return true; }
        }

        function validateformReq(){
            var Rtitle=document.ReqForm.reqTitle.value;
            var Rtxt=document.ReqForm.reqtxt.value;

            if (Rtitle==null || Rtitle==""){
                //console.log(reason);
                document.ReqForm.reqTitle.style.border = "0.5px solid red";
                return false;
            } else if (Rtxt==null || Rtxt==""){
                //console.log(reason);
                document.ReqForm.reqtxt.style.border = "0.5px solid red";
                return false;
            } else {  return true; }
        }



        $(document).ready(function () {

            ////popup request
            $("#ReqButton").on("click", function () {

                event.preventDefault();
                //$('#modal-edit').hide();
                $('#modal-req').show();
            });


            $(".cancel-btn").on("click", function () {
                event.preventDefault();

                $('#reqtxt').val("");
                $('#reqTitle').val("");

                $('#modal-req').hide();

            });


            /////////////////

            $('#button-moret').click(function () {
                ///todo dodaje nowe okno formularza


                $('#tech-forms').append('<div> <input type="text" class="bio tech" id="tech" placeholder="Technologie" name = "technologies[]" maxlength="50" list="TechList"><datalist id="TechList"></datalist> <button type="button" id="button-less" class="less btad">-</button></div>');


                ///////////
            });


            $('#tech-forms').on("click", ".less", function (e) {
                e.preventDefault();
                $(this).parent('div').remove();

            })


            //////////////////////////////////
            //////Function for getting technologies
            $('#tech-forms').on("keyup", ".tech", function (callback) {

                var tech = $(this).val()

                ///console.log(tech);
                if (tech != '') {
                    var requestTech = new XMLHttpRequest()
                    var exists = 0;

                    requestTech.open('GET', 'http://127.0.0.1:8000/filter/technology/' + tech, true)
                    requestTech.onload = function () {

                        var data = JSON.parse(this.response)
                        $('#TechList').html('');

                        if (requestTech.status >= 200 && requestTech.status < 400) {

                            for (i = 0; i < data.names.length; i++) {
                                ////console.log(data.names[i].name);

                                if (data.names[i].name != tech) {

                                    $('#TechList').append('<option value="' + data.names[i].name + '">');
                                }
                            }
                        } else {
                            console.log('error')
                        }


                    }

                    requestTech.send()
                } else {
                }
            });
//////


            //////////////photo preview
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#photo-edit').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".fileToUpload").change(function () {
                readURL(this);
            });
            ////






        });

    </script>







{% endblock %}