
{% extends 'main/parent.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset('web/styles/profile.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}



{% block body %}
    
   
    
            <div id="profile">
                <div class="profile-left">
                    <img id="profile-picture" src="{{ asset('web/images/krowa.jpg') }}" width="230" height="280">
                </div>

                <div class="profile-right">
                    <p id="name-profile">{{ user.firstname }} {{ user.lastname }}, {{ age }} 
                        
                    </p>
                    {% if user.city is not empty %}
                        <p class="infos">Miasto </p><p> 
                    {% for city in user.city %}
                        {% if not loop.last %}
                        {{ city.name }}, 
                             {% else %}
                            {{ city.name }}
                        {% endif %}
                    {% endfor %}
                    {% else %}
                            <p>Brak miejsca zamieszkania
                    {% endif %} </p>
                    
                    
                    <hr>
                    
                    {% if user.language is not empty %}
                        <p class="infos">Języki </p><p> 
                        {% for language in user.language %}
                            {% if not loop.last %}
                        {{ language.name }},
                                {% else %}
                            {{ language.name }}
                        {% endif %}
                    {% endfor %}
                        {% else %}
                        <p>Brak języków obcych
                            {% endif %} </p>
                    <hr>
                    
                    {% if user.technology is not empty %}
                        <p class="infos">Technologie </p><p> 
                        {% for technology in user.technology %}
                        {% if not loop.last %}
                        {{ technology.name }}, 
                        {% else %}
                            {{ technology.name }}
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p>Brak znajomości technologii
                            {% endif %} </p>
                    <hr>
                    <p>{{  user.info }}</p>
                </div>
            </div>

            <div id="mess">
            <button class="navico" id="message-ico"><i class="fa fa-envelope"></i> Wyślij wiadomość</button>
            </div>
    
            {% if user.username == app.user.username %}
            <div class="form-post">
                <img id="post-avatar" src="{{ asset('web/images/krowa.jpg') }}" width="70" height="70">
                <form action="{{ path('create_wall_post') }}" method="post">
                        <input type="text" maxlength="250" name="text" class="form-control" required>
                        <input type="hidden" name="username" value={{ app.user.username }}>
                        <input type="submit" id="button-rem" class="button-post" value="Opublikuj"><br>

                </form>
            </div>
            {% endif %}
            {% for post in posts %}
                <div class="comment">
                    <a href="{{ path('user_profile', {'username': user.username}) }}"><img id="comment-avatar" src="{{ asset('web/images/kot.jpg') }}" width="70" height="70"></a>

                    <p class="project-title" href="{{ path('user_profile', {'username': user.username}) }} ">{{ user.firstname }} {{ user.lastname }}</p> ✽ {{ post.timestamp.format('Y-m-d H:i:s') }}
                    <p class="comment-content">{{  post.text}}</p>
                </div>
            {% endfor %}

   
{% endblock %}