<!DOCTYPE html>
<html>
  <head>
      
      
       {% block stylesheets %}
            <link href="{{ asset('web/styles/profile.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
 
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    <meta charset="utf-8">
      <script src="https://unpkg.com/react/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone/babel.js"></script>

    <title>S COUT</title>
  </head>
  <body>
      <header>
          <div class="header-tab">
  <a class="alogo" href="">Główna</a></div>
          <div class="header-tab">
  <a class="alogo" href="/projects.html">Projekty</a></div>
          <div class="header-tab">
  <a class="alogo" href="/users.html">Użytkownicy</a></div>
          
          
 <div id="search-tab" class="header-tab">
    <form action="/action_page.php">
      <input id="searchbar" type="text" placeholder="Search..." name="search">
      
    </form>      
          </div>
          
</header>
      
      <div class="row">
      
        <div class="columnLeft">  
          <div id="ilogo">
          <a href=""><img src="{{ asset('web/images/logov22.png') }}"></a>
            </div>
      
     <div id="navigation">
      <a href="/profile.html"><img id="navigation-avatar" src="{{ asset('web/images/krowa.jpg') }}"  width="100" height="100"></a>
         
         <button class="navico"><i class="fa fa-suitcase"></i></button>
         <button class="navico"><i class="fa fa-users"></i></button>
         <button class="navico"><i class="fa fa-envelope"></i></button>
         <button class="navico"><i class="fa fa-cog"></i></button>
         <button class="navico"><i class="fa fa-ellipsis-v"></i></button>
         
         <p class="anavig">Witaj, <br>
        Wyloguj się</p>
      </div> 
      </div>
       
          <div class="columnRight">
      <div id="contents">
        <div id="profile">
          <div class="profile-left">
              <img id="profile-picture" src="{{ asset('web/images/krowa.jpg') }}" width="230" height="280">
            </div>
          
            <div class="profile-right">
             <p id="name-profile">Imie i nazwisko</p>
                <p>wiek i miasto</p>
                <hr>
                <p>jezyki obce i programowania</p>
                <hr>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris diam enim, pulvinar sit amet nisl id, vestibulum ornare velit. Vestibulum molestie elit sit amet vehicula posuere. Morbi tristique sem sed ipsum malesuada, id lacinia quam rhoncus. Donec varius ligula vitae mi sagittis tristique nullam.</p>
            </div>
          </div>
           <button class="navico" id="message-ico"><i class="fa fa-envelope"></i> Wyślij wiadomość</button> 
          
          <div class="form-post">
          
          <img id="post-avatar" src="{{ asset('web/images/krowa.jpg') }}"  width="70" height="70">
    		<textarea rows="3" class="form-control" name="description" maxlength=400></textarea>
              <button class="button-post">Opublikuj</button>
          </div>
          
          
          <div class="comment">
              <a href=""><img id="comment-avatar" src="{{ asset('web/images/kot.jpg') }}"  width="70" height="70"></a>
          
            <p class="project-title" href=" ">Imie i Nazwisko</p> - data
            <p class="comment-content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris diam enim, pulvinar sit amet nisl id, vestibulum ornare velit.</p>
                </div>
         
          
      </div>
          </div>
      </div>
      
      
      <script src="scripts/web/main.js"></script>
      
  </body>
</html>