
{% extends 'main/parent.html.twig' %}


    {% block stylesheets %}
        <link href="{{ asset('web/styles/search_projects.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
        <script src="{{ asset('web/scripts/jquery-3.4.1.min.js') }}"></script>
    {% endblock %}

{% block left %}

<div class="filter">
        <div class="title">Filtruj projekty</div>
        
        <hr><div class="bio-title">
        Nazwa  
        <input class="bio" type="text" size="30" name="title" id="inputTitle" placeholder="..."> </div>
        <br>
        
        <div class="bio-title">
        Autor  
          <input type="text" class="bio" placeholder="..." maxlength="50" id="lang" >
           
   
    </div>
        <br>
        
       <div class="bio-title">
        Technologia  
        <input type="TechList" class="bio" id="tech" placeholder="..." maxlength="50" list="TechList">
            <datalist id="TechList">

            </datalist>
        </div>
    <br>
       
    
        <hr>
    <div class="sort">
        Sortuj według: 
    
    <select name="Sort by">
    <option value="Najnowsze">Najnowsze</option>
    <option value="Najstarsze">Najstarsze</option>
    <option value="A-Z">A-Z</option>
    <option value="Z-A">Z-A</option>
  </select>
    <br>
    <div class="btn-search">
        <input type="submit" value="Szukaj" name="submit" id="upload"/>
        </div>
        </div>
</div>

{% endblock %}


{% block body %}


    {%  for project in projects %}
        <div class="post">
            <a href=""><img id="project-avatar" src="" width="70" height="70"></a>
            <a class="project-title" href=" ">{{ project.title }}</a><br>
            {%  for technology in project.technology %}
                <a class="project-lang" href=" ">{{ technology.name }}</a>
            {% endfor %}
        </div>
    {% endfor %}


    <script src="{{ asset('web/scripts/edit-profile.js') }}"></script>
   
    
{% endblock %}